.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 960px;
    height: 960px;
}
.item {
    background-color: #444;
    color: #fff;
    padding: 10px;
}
.item-hovered {
    background-color: blue;
}
